body {
    background-image: url("../img/background.png");
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

/* Place the icon navbar at the bottom of the page, and make it stick */
.bottom_nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: xx-large;
}

.form-group {
    width: 500px;
}

.form-group #contact-message {
    height: 150px;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    background-color: teal;
    color: white;
}

.nav-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.portfolio_content {
    margin: 10px 10px 10px 10px;
    height: 350px;
    width: 350px;
    text-align: center;
    border: 5px solid red;
    background-image: url("../img/portfolio_placeholder.png");
    background-size: 350px 350px;
}

#about_me, #contact_me, #portfolio {
    background-color: white;
    margin-left: 5%;
    margin-top: 5%;
    padding: 50px;
    width: 65%;
    float: left;
    text-align: justify;
}

#about_me h1, #contact_me h1, #portfolio h1 {
    font-weight: bold;
    color: teal;
}

#my_pic {
    padding: 2%;
}

 @media only screen and (max-width: 768px) {
    .contact_form {
        width: 400px;
    }    
}

@media only screen and (max-width: 400px) {
    .contact_form {
        width: 200px;
    }    

    #contact_me {
        width: fit-content;
        margin-right: 18.750px;
    }
}