body {
    background-image: url("../img/background.png");
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;

}

.navbar {
    background-color: #f8f9fa;
}
.navbar-brand {
    background-color: teal;
    color: white;
}

.nav-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about_me {
    background-color: white;
    margin-left: 5%;
    margin-top: 5%;
    padding: 50px;
    width: 65%;
    float: left;
    text-align: justify;
}

#about_me h1 {
    font-weight: bold;
}

#my_pic {
    padding: 2%;
}

/* Place the icon navbar at the bottom of the page, and make it stick */
.bottom_nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: xx-large;
  }
  