body {
    background-image: url("../img/background.png");
    background-color: #000000;
}

#hello {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5%;
    text-align: center;
}

/* Place the icon navbar at the bottom of the page, and make it stick */
.bottom_nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: xx-large;
  }
  